<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MySwiftServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MySwiftServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_811</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
